{{> layout/header}}
<div class="container p-5 flex-grow-1">
    <div class="card">
        <div class="card-header">관리자페이지 - 대쉬보드</div>
        <div class="card-body">
            <h3>여기는 ROLE ADMIN 접근 가능한 페이지 입니다</h3>
            <p>{{admin.username}} 님 반갑습니다</p>
        </div>
    </div>
</div>
{{> layout/footer}}

