{{> layout/header}}
<div class="container p-5">

    <!-- 수정삭제버튼 섹션 -->
    {{#checkIsOwner}}
    <div class="d-flex justify-content-end">
        <a href="/board/{{board.id}}/update-form" class="btn btn-warning me-1">수정</a>
        <form action="/board/{{board.id}}/delete" method="post">
            <button class="btn btn-danger">삭제</button>
        </form>
    </div>
    {{/checkIsOwner}}

    <!-- 작성자 정보 표시 -->
    <div class="d-flex justify-content-end">
        <b>작성자</b> : {{board.username}}
    </div>

    <!-- 게시글 내용 섹션 -->
    <div>
        <h2><b>{{board.title}}</b></h2>
        <hr />
        <div class="m-4 p-2">
            {{board.content}}
        </div>
    </div>

    <!-- 댓글 섹션 시작 -->
    <div class="card mt-3">
    {{^sessionUser}}
        <div class="card-body">
            <p class="text-muted text-center p-2">댓글을 작성하려면 <a href="/login-form">로그인</a>이 필요합니다</p>
        </div>
    {{/sessionUser}}
    {{#sessionUser}}
        <div class="card-body">
            <form action="/reply/save" method="post">
                <input type="hidden" name="boardId" value="{{board.id}}" />
                <textarea name="comment" class="form-control"></textarea>
                <div class="d-flex justify-content-end mt-2">
                    <button type="submit" class="btn btn-outline-primary">댓글 등록</button>
                </div>

            </form>
        </div>
    {{/sessionUser}}
    {{^replyList}}
        <p class="text-muted text-center p-2">현재 작성된 댓글이 없습니다</p>
    {{/replyList}}
    {{#replyList}}
        <div class="list-group">
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center mb-1" >
                        <div class="px-2 py-1 bg-primary text-white rounded"> {{username}} </div>
                        <small class="text-muted">{{createdAt}}</small>
                    </div>
                    <div>{{comment}}</div>
                </div>
                {{#isOwner}}
                    <form action="/reply/{{id}}/delete" method="post">
                        <input type="hidden" name="boardId" value="{{board.id}}" >
                        <button type="submit" class="btn btn-danger btn-sm">🗑️ 삭제</button>
                    </form>
                {{/isOwner}}
            </div>
        </div>
    {{/replyList}}

    </div>
    <!-- 댓글 섹션 종료 -->
</div>

{{> layout/footer}}