{{> layout/header}}
<div class="container p-5 flex-grow-1">
    <div class="card">
        <div class="card-header"><b>글쓰기 화면입니다</b></div>
        <div class="card-body">
            <form action="/board/save" method="post">
                <div class="mb-3">
                    <input type="text" name="title" class="form-control" placeholder="enter title">
                </div>
                <div class="mb-3">
                    <textarea type="text" name="content" rows="5" class="form-control" placeholder="enter content"></textarea>
                </div>
                <button class="btn btn-primary">글쓰기 완료</button>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}